sudo: required
services:
 - postgresql
 - elasticsearch
language: python
python:
 - 2.7
cache:
  - apt

addons:
  apt:
    packages:
      - nginx

matrix:
  include:
    - python: 2.7
    - python: 2.7
      env: RUN_LINTS=true
cache: pip

before_install: bash -xe travis/before-install.sh
install: pip install -r requirements-dev.txt
script: bash -xe travis/test-script.sh
