version: 0.1.{build}
pull_requests:
  do_not_increment_build_number: true

environment:
  PGUSER: postgres
  PGPASSWORD: Password12!
  PGSQL_PATH: C:\Program Files\PostgreSQL\9.6
  POSTGRES_ENV_POSTGRES_USER: postgres
  POSTGRES_ENV_POSTGRES_PASSWORD: Password12!

  matrix:
    - PYTHON: C:\Python27-x64
    - PYTHON: C:\Python36-x64

services:
  - postgresql

before_test:
- ps: >
      $env:PATH = "${env:PGSQL_PATH}\bin;${env:PYTHON}\Scripts;${env:PATH}";
      createdb pacifica_metadata;
      Start-Process $env:PYTHON\python.exe -ArgumentList "${env:PYTHON}\Scripts\MetadataServer.py" -WorkingDirectory "travis\metadata";
      Start-Process $env:PYTHON\python.exe -ArgumentList "${env:PYTHON}\Scripts\ArchiveInterfaceServer.py" -WorkingDirectory "travis\archivei";
      Invoke-WebRequest https://github.com/pacifica/pacifica-metadata/archive/master.zip -OutFile pacifica-metadata.zip;
      Expand-Archive pacifica-metadata.zip -DestinationPath C:\pacifica-metadata;
      sleep 20;
      Invoke-WebRequest http://localhost:8121/users;
      pushd C:\pacifica-metadata\pacifica-metadata-master;
      & "$env:PYTHON\python.exe" -m test_files.loadit;
      popd;
      Invoke-WebRequest -InFile README.md -Method PUT -Headers @{'Last-Modified'='Sun, 06 Nov 1994 08:49:37 GMT'} http://127.0.0.1:8080/104;
      $size = (Get-Item README.md).length;
      $hash = (Get-FileHash -Algorithm sha1 readme.md).hash;
      '{ "hashsum": "'+$hash+'", "hashtype": "sha1", "size": '+$size+'}' | Invoke-WebRequest -Method POST -Headers @{ "content-type" = "application/json" } http://127.0.0.1:8121/files?_id=104;


install:
  - ps: >
      $env:PATH = "${env:PGSQL_PATH}\bin;${env:PYTHON}\Scripts;${env:PATH}";
      Invoke-WebRequest -Uri "https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-5.6.8.zip" -OutFile "elasticsearch.zip";
      Expand-Archive "elasticsearch.zip" -DestinationPath "C:\elasticsearch";
      Start-Process C:\elasticsearch\elasticsearch-5.6.8\bin\elasticsearch;
      & "$env:PYTHON\python.exe" -m pip install --upgrade pip setuptools wheel;
      & "$env:PYTHON\python.exe" -m pip install -r requirements-dev.txt;

build: off

test_script:
  - ps: >
      & "$env:PYTHON\python.exe" -m coverage run --include="proxy/*" -m pytest -v proxy;
      & "$env:PYTHON\python.exe" -m coverage run --include="proxy/*" -a ProxyServer.py --stop-after-a-moment;
      & "$env:PYTHON\python.exe" -m coverage report --show-missing --fail-under 100;
